html {
    margin: 0 auto;
    font-align: center;
}



.screen {
    width: 402PX;
    height: 75PX;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 50PX;
    text-align: right;
    justify-content: bottom;
    padding: 15PX;
    margin-bottom: 10PX;
    border-radius: 5PX;
    margin-top: 10PX;
    border-style: solid;
    border-width: 3PX;
    border-color: black;

}


.calcbuttons {
    width: 400PX;
    float: left;
}

.number {
    width: 95PX;
    margin: 5PX;
    height: 50PX;
    font-weight: bold;
    font-size: 20PX;
    border-radius: 5PX;
    margin-left: 6PX;
}

.operator {
    width: 95PX;
    margin: 5PX;
    height: 50PX;
    font-weight: bold;
    font-size: 20PX;
    border-radius: 5PX;
}

#zero {
    width: 205PX;
    margin: 5PX;
    height: 50PX;
    margin-left: 6PX;
}

#clear {
    width: 315PX;
    margin: 5PX;
    height: 50PX;
    font-weight: bold;
    font-size: 20PX;
    border-radius: 5PX;
    margin-left: 6PX;
}

#equals {
    width: 204PX;
    margin: 5PX;
    height: 50PX;
    font-weight: bold;
    font-size: 20PX;
    border-radius: 5PX;
    margin-left: 6PX;
}


